body {
    margin:0;
    top: 0;
    background: linear-gradient(to right, #3e2723, #795548, #a1887f);
  }

.cabecalho{
    display: flex;
    margin: 0 5rem;
}

header{
    display: flex;
    justify-content: center;
    width: 100%;
}

header img{
    width: 20%;
}

img{
    border-top-left-radius: 0;     
    border-top-right-radius: 20px;    
    border-bottom-right-radius: 20px; 
    border-bottom-left-radius: 0;
}

nav{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    
}

ul {
    list-style: none;
    display: flex;
    width: 80%; 
    justify-content: space-between; 
    align-items: center; 
    padding: 0;
    margin: 0;
}
ul li a {
    font-size: 50px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: Arial, sans-serif;
    padding: 8px; 
    border-radius: 4rem;
    transition: all 0.6s ease;
    outline: none;
}

ul li a:hover {
    outline: 1px solid #333333; /* Use outline no lugar de border */
    background-color: #8B4513;
    color: #fff;
}

#devocional{
    background: linear-gradient(to right,#a1887f, #795548);
    display: flex;
    flex-direction: column;
    margin: 0 5rem;
    height: auto;
}

.devocional-item {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    
    
}

.devocional-item h2 {
    font-size: 2rem;
    color: #333;
    font-family: arial;
}

.devocional-item p {
    font-size: 1.2em;
    color: #fff;
}


/* ____________________________________________ */
/* RESPONSIVO */


