body {
    margin:0;
    top: 0;
    background: linear-gradient(to right, #3e2723, #795548, #a1887f);
  }

  section{
    width: 100%;
    display: flex;
    justify-content: center;
  }

.cabecalho{
    width: 100%;
    display: flex;
    margin: 0 5rem;
}

header{
    display: flex;
    justify-content: center;
    width: 100%;
}

header img{
    width: 20%;
    border-top-left-radius: 0;     
    border-top-right-radius: 20px;    
    border-bottom-right-radius: 20px; 
    border-bottom-left-radius: 0;
}


nav{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    
}

ul {
    list-style: none;
    display: flex;
    width: 80%; 
    justify-content: space-between; 
    align-items: center; 
    padding: 0;
    margin: 0;
}
ul li a {
    font-size: 50px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: Arial, sans-serif;
    padding: 8px; 
    border-radius: 4rem;
    transition: all 0.6s ease;
    outline: none;
}

ul li a:hover {
    outline: 1px solid #333333; /* Use outline no lugar de border */
    background-color: #86463f;
    color: #fff;
}

#devocional{
    background: linear-gradient(to right,#a1887f, #795548);
    display: flex;
    flex-direction: column;
    margin: 0 5rem;
    height: auto;
}

.devocional-item {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    
    
}

.devocional-item h2 {
    font-size: 2rem;
    color: #333;
    font-family: arial;
}

.devocional-item p {
    font-size: 1.2em;
    color: #fff;
}

.biblia{
    width: 100%;
    border: 1px solid #ddd;
    background: linear-gradient(to right,#a1887f, #795548);
    margin: 0 5rem;
    min-height: 500px;
}

#bible-form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    gap: 1.5rem;
}
label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    font-size: 2rem;
}

input{
    border: 2px solid #c29c93;
    transition: border-color 0.3s ease;
    border-radius: 10px;
    padding: 5px;
    color: #611816;
    font-weight: bold;
}

input:focus {
    border-color: #9a3732; 
    outline: none;
}

button{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    width: 10%;
    border: 2px solid #c29c93;
    border-radius: 15px;
    cursor: pointer;
}
button:hover{
    background-color: #7d4b45;
    color: #ffbeb0;
}

#navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}
.arrow {
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    user-select: none;
}
.arrow:hover {
    background-color: #e0e0e0;
}

#result{
    padding: 40px;
    font-size: 25px;
}

/* Remove as setas (up/down) em todos os navegadores */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Para Firefox */
}

/* Caso o campo seja de texto e o navegador tenha setas de autocompletar ou sugestões */
input[type="text"] {
  -webkit-appearance: none; /* Remove qualquer aparência de setas em alguns navegadores */
}

#missao{
    width: 100%;
    margin: 5rem;
    background: linear-gradient(to right, #a1887f, #795548);
}
.img-container img {
    max-width: 15%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}


footer{
    display: flex;
    justify-content: center;
    width: 100%;
}
.footer{
    width: 100%;
    margin: 0 5rem;
}

.footer h2{
    color: aqua;
    font-size: 2.5rem;
}
.footer p{
    color: aquamarine;
    font-size: 1.5rem;
}
.footer span{
    color:chartreuse
}

#voltarAoTopo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    font-size: 20px;
    background-color: #340000;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    display: none; /* Escondido inicialmente */
    z-index: 1000; /* Fica acima dos outros elementos */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


#voltarAoTopo:hover {
    background-color: #983933;
}



/* ____________________________________________ */
/* RESPONSIVO */


@media only screen and (max-width: 1151px) {
    body{
        width: 100%;
    }

    .cabecalho{
        display: flex;
        flex-direction: column;
    }
    header img{
        width: 100%;
        border-radius: 10px;
    }
    nav{
        width: 100%;
        display: flex;
        margin: 3rem 0;
        
    }
    ul{
        width: 100%;
        display: flex;
        justify-content: center; 
        gap: 5rem;
    }

    li{
        font-size: 1rem;
    }

    ul li a {
        font-size: 40px;
        margin-bottom: 10px;
    }
    
}

@media only screen and (max-width: 754px) {
    body{
        width: 100%;
    }

    nav{
        width: 68%;
    }
    ul{
        width: 100%;
    }

    nav{
        /* display: none; */
    }

}


@media only screen and (max-width: 430px) {
    nav{
        display: none;
    }
}




