body {
    margin:0;
    top: 0;
  }

header{
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #FFD700, #FF7F50, #FF4500);


}
header img{
    width: 20%;
}

img{
    border-top-left-radius: 0;     
    border-top-right-radius: 20px;    
    border-bottom-right-radius: 20px; 
    border-bottom-left-radius: 0;
}

nav{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    
}

ul {
    height: 100%;
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 20%;
}

ul li a {
    font-size: 50px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: Arial;
    padding: 8px; 
    border-radius: 4rem; 
    border: 1px solid transparent; 
    box-sizing: border-box; 
    transition: all 0.6s ease; 
}

ul li a:hover {
    border: 1px solid #333333;
    background-color:  #8B4513;
    color: burlywood;
}